html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 300px;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;

    

}



.container2 {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.smallheading {
    width: 15%;
    text-align: right;
    align-self: flex-end;
    margin-top: 1rem;
}
/* typography */


h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size:  2rem;
}

p {
    margin: 0;
    font-size: 1.2rem;
}

.bold {
    font-weight: bold;
}
/* line board styles */


.line_main {
    
    border: 5px solid black;
}

.line_main2 {
    border: 3px solid black;
}

.line_2 {
    border: 1px solid black;
}

.line_3 {
    border: 1.5px solid grey;
    
}

.line_4 {
    border: 1px solid grey;
}

/* Flex */

.flex {  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.values {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.bigcol {
    width: 40%;
}

.smallcol {
    width: 20%;
}




.end {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}



.p-l {
    padding-left: 1rem;
}

